/* Main Elements */


* {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #efefef;
    background-image: url('../images/45degreee_fabric/45degreee_fabric.png');
    overflow: hidden;
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #777777;
}


/* Header */


header {
    height: 100px;
    background-color: #ffffff;
}

header .container {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #cccccc
}

header .logo {
    float: left;
    font-size: 34px;
    left: 180px;
    background-color: #4aaaa5;
    height: 100px;
    padding: 30px 10px 0px 10px;
    border-bottom: 2px solid #cccccc;
}

nav {
    float: right;
    height: 100%;
    width: 50%;
    vertical-align: middle;
}

.nav {
    line-height: 90px;
}

.nav-a {
    font-size: 1.2em;
}

li {
    display: inline;
}

.nav li:last-child {
    padding: 0px 10px 0px 10px;
}

.nav li:not(:last-child) {
    border-right: solid 1px #cccccc;
    padding: 0px 10px 0px 10px;
}


 a {
     color: #777777;
 }

 a:hover {
     color: #4c4c4c;
 }


 /* Main Content */


 .content {
     width: 960px;
     margin: 0 auto 6em auto;
 }

 .main-content {
     display: inline-block;
     margin: 40px 0;
     padding: 40px;
     background-color: #ffffff;
     border: 1px solid #dddddd;
     width: 960px;
     height: 725px;
 }

 .main-content h1 {
     font-size: 2em;
     border-bottom: 2px solid #dddddd;
     font-weight: bold;
     padding-bottom: 1em;
     margin-bottom: 0.8em;
 }

 .main-content p {
     font-size: 20px;
     line-height: 1.5em;
     margin-bottom: 2em;
 }

 img.photo {
    float: left;
	padding: 0 1em 1em 0;
	width: 220px;
	height: 220px;
 }

 .page-title {
     color: #4aaaa5;
 }


 /* Portfolio */


.portfolio-item {
    display: inline-block;
	position: relative;
    transition: transform .1s ease-out;
}

.portfolio-item:hover {
	transform: rotate(-4deg) scale(1.1, 1.1);
}

li.portfolio-item {
    height: 185px;
    float: left;
}

.portfolio-item:nth-child(even) {
    margin-left: 25px;
}

.portfolio {
    width: 75%;
}

.portfolio-item img {
    width: 220px;
    height: 165px;
}

.item-title {
    position: relative;
	top: -100px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 1em;
	color: #ffffff;
	z-index: 1000;
}


/* Contact */


.contact label {
    display: block;
    float: left;
	padding-bottom: 0.5em;
}

.contact input, .contact textarea {
    width: 100%;
	border: 1px solid #cccccc;
	margin-bottom: 1.5em;
	padding: 1em;
	font-size: .9em;
}

.contact input[type="submit"] {
	width: auto;
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
	padding: 1em 2em;
    font-size: 1em;
}

::-webkit-input-placeholder {
    text-align: left;
}


/* Footer */


footer {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3em;
    text-align: center;
    font-size: 0.8em;
    color: #cccccc;
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
}

.my-links ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s;
    -webkit-transition-timing-function: ease-out;
    transition: all .2s;
    transition-timing-function: ease-out;
}

.my-links li {
    border-right: none;
}

.my-links {
    float: right;
    margin-bottom: 10px;
    right: 5px;
}

.copyright {
    top: 30px;
}